

$color-primary: #FF5800;
$color-secondary:#fe8c00;
$color-primary-dark: #f83600;


/*mixin*/

@mixin typostyle {
  display: inline-block;
  background: linear-gradient(to right, $color-secondary 0%,$color-primary-dark 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin typostyle2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin back_color {
  background-color: rgba(221, 221, 221, 0.2);
}


@mixin button_style{
  color:black;
  text-decoration: none;
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3rem;
  font-weight: 600;
  border: 1px solid $color-primary;
}

@mixin button_hover {
  color:white;
  border: 1px solid transparent;
  background-color: $color-primary;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
      font-size: 55%;
      @media only screen and (max-width: 800px){
        font-size: 50%;
      }
  }


  body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    color:black;
    box-sizing: border-box;
    
  }


  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
  }

  .header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../image/background1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    
  }



.navi-header {
    position: relative;
    background-color: rgba(255, 89, 0, 0.4);
    height: 14rem;
    border-bottom: 2px solid rgba(32, 32, 32, 0.1);
    box-shadow: 1px 0 3px rgba(32, 32, 32, 0.5);
  }
  
  .logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  
  .logo {
    height: 10rem;
  }


  .navigation{

    position: relative;
      
    &_checkbox{
      display: none;

    }

    &_button{
      background-color:white;
      height: 7rem;
      width: 7rem;
      position: absolute;
      top: 3.5rem;
      right: 6.5rem;
      border-radius: 50%;
      z-index: 10;
      text-align: center;
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
      cursor: pointer;
  
    }

    &_background{
        height: 14rem;
        width: 0;
        position: absolute;
        top: 0;
        right:0;
        z-index: 8;
        background-color:white;
        transition: all 0.2s ease-in;

        @media only screen and (max-width: 1024px){
            height: 30rem;
        }
    
    }

    &_nav{
      height: 0;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      opacity:0;
      z-index: 9;
      transition: all 0.3s ease-in-out;

      @media only screen and (max-width: 1024px){
        height: 30rem;
     }
    }

    &_list{
        position: absolute;
        top: 50%;
        right: 50%;
        list-style: none;
        text-align: center;
        margin: 0;
        transform: translate(50%, -50%);
    }

    &_item{
        float: left;
        text-decoration: none;
        &:nth-child(-n+3){
          margin-right: 3rem;
        }

        @media only screen and (max-width: 1024px){
          display: block;
          width: 100%;
          margin: 1rem 0;
      }


    }

    &_link{
       color:black;
       font-size: 2rem;
       font-weight: 600;
       text-decoration: none;
       text-transform: uppercase;
       padding: .5rem 2rem;
       border-radius: 4rem;
       border: 1px solid $color-primary;

       &:hover{
         text-decoration: none;
         background: linear-gradient(to right, $color-secondary 0%,$color-primary-dark 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         border: 1px solid $color-primary;
       }

    }
    
    &_checkbox:checked ~ &_background{
      width:100%;
    }
    &_checkbox:checked ~ &_nav{
      height: 14rem;
      opacity: 1;

      @media only screen and (max-width: 1024px){
        height: 30rem;
    }
    }

    &_icon{

      position: relative;
      margin-top: 3.5rem;

      &,
      &::before,
      &::after{
        width: 3rem;
        height: 2px;
        display: inline-block;
        background-color: gray;
        transition: all .2s;
      }

      &::before,
      &::after{
        content: "";
        position: absolute;
        left: 0;
      }

      &::before{
         top: -.8rem;
      }

      &::after{
        top: .8rem;
     }

    }

    &_button:hover &_icon::after{
      top: 1rem;
    }

    &_button:hover &_icon::before{
      top: -1rem;
    }

    &_checkbox:checked + &_button &_icon{
      background-color: transparent;
    }


    &_checkbox:checked + &_button &_icon::after{
      transform: rotate(-45deg);
      top: 0;
    }


    &_checkbox:checked + &_button &_icon::before{
      transform: rotate(45deg);
      top: 0;
    }
}




.profile-sec{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.profile-pic{
  border-radius: 50%;
}


.circle-spin{
  position:relative;
  padding: 15px;
  border-radius: 50%;
  max-width: 30rem;
  max-height: 30rem;
  display: block;
  margin: 0 auto;
  
  &::after {
    position:absolute;
    width:100%;
    height:100%;
    content:"";
    display:block;
    top:0;
    left:0;
    border: 10px solid  transparent;
    border-radius: 50%;
    border-top: 5px solid white;
    animation: spinner 1s infinite linear;
  }
}

.heading{
  &_sec{
    padding: 1rem 0;
    text-align: center;
  }

  &_primary{
    
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    font-weight: 700;  
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 500px){
      font-size: 5rem;
    }

    @media only screen and (max-width: 400px){
      font-size: 4rem;
    }
  }

  &_secondary{
    font-size: 5rem;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 400px){
      font-size: 3rem;
    }
  }
}

.about_sec{
  padding: 20rem 0;
  margin: 0;
  text-align: center;
  background-color: white;
  margin-top: -17rem;
  overflow: hidden;
}

.main_heading{
  @include typostyle2();
  @include typostyle();
  padding: 1rem 0 2rem;
}


.about_img{
  padding: 1rem;
  border: 5px solid $color-primary;
}

.about-text-box{
    padding: 2rem 5px;
    text-align: center;
}

.color_dark{
  font-weight: 600;
}

.about-text{
  margin-bottom: 5rem;
  padding:0 2rem;
}

.visit_link{
  font-size: 1.8rem;
  @include button_style();
}

.visit_link:hover{
  @include button_hover();
}


.graphics_sec{
  margin: 0;
}

.all_sec{
  margin-top:-13rem;
  padding: 15rem 0;
  background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../image/background2.jpg);
    background-size: cover;
    background-position: center;
  
}

.all_con{
  transform:skewY(-7deg);
}
.all_inner_sec{
  transform:skewY(7deg);
  padding:8rem 0;
}
.all_inner_box{
  text-align: center;
  background-color: white;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
  transition: all 0.2s;
}

.all_inner_box:hover{
  transform: translateY(-5%);
}

.all_text{
   @include typostyle();
   font-size: 2.5rem;
   padding: 1rem 0;
}

.all_inner_img{
  padding: 1rem 0;
}

.all_inner-text{
  padding: 2rem 0;
}


.graphics_gallary_sec{
  margin-top: -13rem;
  padding: 25rem 0 10rem;
  @include back_color();
}

.heading_box{
  text-align: center;
  padding-bottom: 4rem;
}

.gallary_outer_sec{
  padding-bottom: 2.5rem;
}
.gallary_pic_sec{
  background-color: white;
  padding-bottom: 4rem;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
}

.detail_text{
  padding: 2rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.gallary_link{
  display: block;
  text-align: center;
}

.big_link_sec{
  text-align: center;
  padding-top: 10rem;
}

.visit_link2{
  font-size: 1.8rem;
  color:white;
  text-decoration: none;
  padding: 15px 40px;
  text-transform: uppercase;
  background-color:$color-primary;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid transparent;
}

.visit_link2:hover{
  color: black;
  background-color: white;
  border: 1px solid $color-primary;
}



.about_review{
  font-size: 1.7rem;
  font-weight: 700;
}

.star-box{
  display: inline-block;
}


.review-sec{
  padding: 8rem 0;
}

.review-inner_box ul li{
   list-style: none;
   float: left;
}

.fa-star{
  color: $color-primary;
}

.review_img-box{
  padding: 2rem 0 1rem;
}


.web-out-sec{
  position: relative;
  padding: 8rem 0;
}


.back-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;

  &_content{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.web-gallary-outer{
  padding-bottom: 2.5rem;
  transition: all 0.2s;
}

.web-gallary-outer:hover{

  transform: translateY(-5%);

}


.web-gallary{
  padding-bottom: 4rem;
  background-color: white;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
}

.web-gallary-image{
  border-bottom: 5rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: hidden;
}


.hire-me-sec{
  padding: 8rem 0 10rem;
}

.upwork-hire-sec{
  text-align: center;
  padding-bottom: 2.5rem;
}

.upwork-hire{
  padding: 2rem 2rem 5rem;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
}

.hire-header{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
}
.upwork-image{
  padding: 1rem 1rem 2rem;
}
.avail-sec{
  font-size: 1.9rem;
}

.avail-text, .language{
  font-weight: 600;
}

.language{
  padding-bottom: 2rem;
}

.as-need, .lang-type{
  font-weight: 400;
}
.beauty-line{
  background-color: rgba(49, 214, 49, 0.7);
}

.beauty-line2{
  background-color: rgb(255, 115, 0);
}



.hire-link{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  color: white;
  border-radius: 3rem;

  &-up{
    background-color: rgb(24, 131, 24);
  }

  &-pp{

    background-color: rgb(255, 115, 0);
  }

  &-fi{
    background-color: rgb(24, 131, 24);
  }
}

.hire-link:hover{
  
  color: white;
  box-shadow: 0 4px 15px rgba(75, 74, 74, 0.7);
}



.footer-sec{
  padding: 8rem 0;
  background-color: rgb(41, 39, 39);
}

.footer-logo-box{
  width: 100%;
  text-align: center;
}

.footer-logo{
  display: block;
  max-width: 18rem;
  padding: 2rem;
  margin: 0 auto;
}

.footer-author{
  @include typostyle();
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  animation: shake 1s infinite alternate;
}


.footer-text-sec{
  max-width: 80rem;
  margin: 0 auto;
}

.footer-text{
  text-align: center;
  font-size: 1.8rem;
  color: rgb(231, 230, 230);
}

.skype-button{
  padding: 0 !important;
}


/*animation8*/

@keyframes spinner{
  from{
    transform: rotate(0);
  }to{
    transform: rotate(360deg);
  }
}


@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}
